@charset 'UTF-8';

* {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(36, 35, 35);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    max-width: 580px;
    margin-bottom: 24px;
}

.conteiner-input {
    max-width: 430px;
    margin: 14px 0;
}

.conteiner-input span {
    color: white;
    font-size: 1.1em;
}

.slider {
    -webkit-appearance:none;
    width: 100%;
    border-radius: 5px;
    background: #dfdfdf;
    height: 18px;
    outline: none;
    margin-top: 8px;

    
}

.button-cta {
        height: 40px;
        background-color: greenyellow;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 40px;
        color: rgb(122, 113, 102);
        font-weight: bold;
        font-size: 1.2em;

}

.container-password {
        max-width: 430px;
        margin: 14px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

}

.title {
    text-align: center;
    color: #dfdfdf;
    font-size: 1.1em;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    transition: transform 0.5s;
}

.password:hover {
    transform: scale(1.05);
}

.tooltip {
    color: white;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background-color: rgb(15, 15, 15);
    text-align: center;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.hide {
   display: none; 
}
.container-password:hover .tooltip {
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}

